* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif; }

/* encabezado */
header {
  background-color: #F8F1F1; }

.barra {
  flex-direction: row;
  max-width: 1400px; }

.logo img {
  width: 300px;
  transition: transform 0.4s; }

.logo img:hover {
  transform: scale(1.2); }

.nav {
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 0; }
  .nav a {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0 5px;
    color: #19456B;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px; }
  .nav a:hover {
    color: #19456B;
    background-color: #16C79A; }
  .nav a:active {
    background-color: #11698E; }
  .nav .abrirMenu, .nav .cerrarMenu {
    display: none; }

/* fin encabezado */
#hero {
  height: 90vh;
  margin-top: 10vh;
  background: url(/images/pexels-pixabay-270348.jpg) center center fixed;
  background-size: cover;
  position: relative; }
  #hero .container-lg {
    text-align: center;
    padding: 40px;
    width: 60%;
    background-color: rgba(225, 225, 225, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 15px; }
  #hero h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #16C79A; }
  #hero h4 {
    font-weight: 300;
    color: #F8F1F1;
    margin: 20px 0; }
  #hero .btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: #16C79A;
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 5px; }
  #hero .btn:hover {
    background-color: #16C79A;
    border-color: #16C79A; }

.centrarText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.somos {
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(to bottom right, #19456B, #16C79A); }
  .somos .somos__texto {
    display: flex;
    align-items: center;
    color: #F8F1F1;
    margin-top: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 5px #19456B; }
    .somos .somos__texto i {
      font-size: 3em;
      color: #19456B;
      padding: 13px;
      text-shadow: none; }
    .somos .somos__texto h2 {
      font-weight: 500; }
    .somos .somos__texto h4 {
      font-weight: 400; }
    .somos .somos__texto p {
      font-weight: 300; }
  .somos img {
    width: 100%; }

.servicios {
  background: url(/images/pexels-picjumbocom-196644.jpg) center center fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif; }
  .servicios .servicios__titulo {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px; }
    .servicios .servicios__titulo h2 {
      color: #19456B;
      font-weight: 400; }
    .servicios .servicios__titulo i {
      font-size: 2em;
      color: #19456B; }
  .servicios .servicios__cards {
    margin-top: 15px; }
  .servicios .card {
    height: 100%;
    margin: 8px;
    background-color: rgba(225, 225, 225, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px; }
    .servicios .card h5 {
      color: #16C79A;
      font-weight: 500; }
    .servicios .card p {
      color: #19456B;
      font-weight: 400; }
  .servicios .card img {
    width: 80px;
    padding-top: 5px; }

.redes {
  height: 50vh;
  background-image: linear-gradient(to bottom right, #16C79A, #19456B);
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif; }
  .redes .container-lg {
    display: flex;
    justify-content: center; }
  .redes .redes__cta {
    text-align: center;
    color: #F8F1F1;
    margin: 0 50px; }
    .redes .redes__cta h2 {
      font-weight: 400; }
    .redes .redes__cta .btn {
      background-color: rgba(0, 0, 0, 0);
      border-color: #16C79A;
      font-weight: 300;
      padding: 10px 30px;
      border-radius: 30px;
      margin-top: 10px; }
    .redes .redes__cta .btn:hover {
      background-color: #16C79A;
      border-color: #16C79A; }

footer {
  background: url(/images/fondofooter.jpg) fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  color: #F8F1F1; }
  footer .footer__top {
    padding-top: 80px;
    padding-bottom: 70px; }
  footer .footer__contacto p {
    margin: 0; }
  footer .footer__links {
    display: flex;
    flex-direction: column; }
    footer .footer__links ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 10px; }
      footer .footer__links ul i {
        color: #16C79A;
        padding-right: 2px;
        font-size: 13px;
        line-height: 1; }
      footer .footer__links ul a {
        text-decoration: none;
        color: #F8F1F1;
        line-height: 1; }
      footer .footer__links ul a:hover {
        color: #16C79A; }
  footer .footer__servicios {
    display: flex;
    flex-direction: column; }
    footer .footer__servicios ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 10px; }
      footer .footer__servicios ul i {
        color: #16C79A;
        padding-right: 2px;
        font-size: 13px;
        line-height: 1; }
      footer .footer__servicios ul p {
        display: inline;
        color: #F8F1F1;
        line-height: 1; }
  footer .footer__fondo {
    margin-bottom: 0;
    padding-top: 5px; }

.section__form {
  background-image: url(../images/fondoHero.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px; }

.contenedor__formulario {
  width: 60%;
  margin: 10px auto;
  color: #F8F1F1;
  background-color: rgba(225, 225, 225, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  padding: 8px;
  border-radius: 2px; }

.formulario__titulo {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px; }

.hacemos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 90vh; }
  .hacemos .container-lg {
    padding: 0 40px; }
  .hacemos .col-md-4 {
    display: flex;
    align-items: center; }
  .hacemos .hacemos__texto h2 {
    font-size: 50px;
    margin-bottom: 13px; }
  .hacemos .hacemos__texto p {
    font-size: 18px;
    margin-top: 13px; }
  .hacemos .container {
    padding-right: 0px; }
    .hacemos .container .hacemos__img img {
      width: 100%; }

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19456B;
  height: 80vh;
  margin-bottom: 20px; }
  .google .container-lg {
    padding: 0 40px; }
  .google .col-md-4 {
    display: flex;
    align-items: center; }
  .google .google__texto h2 {
    color: #F8F1F1;
    font-size: 50px;
    margin-bottom: 13px; }
  .google .google__texto p {
    color: #F8F1F1;
    font-size: 18px;
    margin-top: 13px; }
  .google .container {
    padding-left: 0px; }
    .google .container .hacemos__img img {
      width: 100%; }

#nosotros {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 25px; }
  #nosotros .container-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  #nosotros .nosotros__texto {
    padding: 25px 15px;
    text-align: center;
    width: 60%; }
  #nosotros .nosotros__img {
    width: 60%;
    text-align: center; }
    #nosotros .nosotros__img img {
      width: 90%; }

#team {
  padding: 60px 0; }
  #team .container-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #team .container-lg .team__title {
      padding: 10px;
      font-size: 30px;
      color: #19456B; }
    #team .container-lg .team__member {
      padding: 24px 12px;
      text-align: center; }
      #team .container-lg .team__member img {
        width: 100%;
        border-radius: 2px; }
      #team .container-lg .team__member .team__member--info {
        padding: 10px 0; }
        #team .container-lg .team__member .team__member--info h4 {
          color: #11698E; }
        #team .container-lg .team__member .team__member--info p {
          margin: 0;
          color: #16C79A; }

@media (max-width: 750px) {
  .barra {
    flex-direction: column;
    align-items: center; }
    .barra a {
      margin: 0px; }
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 0px; }
  #hero {
    margin-top: 20vh; }
  .somos img {
    padding-bottom: 15px; }
  .hacemos {
    margin-top: 30vh;
    height: 70vh;
    text-align: center; }
    .hacemos .hacemos__texto h2 {
      font-size: 30px;
      margin-bottom: 13px; }
    .hacemos .hacemos__texto p {
      font-size: 15px;
      margin-top: 13px; }
    .hacemos .container {
      padding-right: 12px; }
  .google {
    height: 70vh;
    text-align: center; }
    .google .google__texto {
      margin-top: 15px; }
      .google .google__texto h2 {
        font-size: 30px;
        margin-bottom: 13px; }
      .google .google__texto p {
        font-size: 15px;
        margin-top: 13px; }
    .google .container {
      padding-left: 12px; } }
