* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1{font-size: 5rem;}
h2{font-size: 35px;}
h3{font-size: 25px;}
p{font-size: 1rem;}
a{
    text-decoration: none;
    color: #ffffff;
}

/* encabezado */

header {
    background-color: #11698E;
}

.barra{
    flex-direction: row;
    max-width: 1400px;
}

#logo{
    margin: 0;
    padding: 12px 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6em;
    transition: transform 0.4s;
}

#logo:hover {
    color: #ffffff;
    transform: scale(1.2);
}

.nav {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.nav a {
    font-size: 18px;
    margin: 0 5px;
    font-family: sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
}

.nav a:hover {
    background-color: #16C79A;
    color: #ffffff;
}

nav a:active {
    background-color: #05445E;
}

/* fin encabezado */

.hero {
    height: 90vh;
    background: url(/images/fondoHero.jpg) center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrarText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal {
    text-align: center;
    width: 60%;
    padding: 20px;
}

.principal h1 {
    margin: 5px;
    color: #ffffff;
}

.principal h4 {
    color: #ffffff;
}

.principal .cta{
    background-color: #11698E;
    border-color: #11698E;
}

.principal .cta:hover{
    background-color: #16C79A;
    border-color: #16C79A;
}


#somos {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

#somos .contenedor {
    display: flex;
    justify-content: space-evenly;
}

#somos .contenedor__texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#somos .contenedor__img {
    background-image: url("/images/fondoHero.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px; 

    transition: 0.3s ease-in-out;
}

#somos .contenedor__img:hover {
    transform: rotate(1.8deg) scale(1.1);
}

.servicios__titulo{
    display: flex;
    text-align: center;
    padding: 40px;
}

.servicios__titulo h2 {
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.row {
    padding-bottom: 20px;
}

.card {
    width: 18rem;
    margin: auto;
}

.card img {
    width: 10rem;
    margin: auto;
}

#cta .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 70vh;
}

#cta .contenedor p {
    padding: 10px;
}

.servicio {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 90vh;
}

.fondoClaro {
    color: black;
}

.fondoOscuro {
    background-color: #05445E;
    color: #ffffff;
}

.servicio .contenedor{
    display: flex;
    justify-content: space-evenly;
}

.servicio .contenedor__texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicio .contenedor__img {
    background-image: url(/images/full-stack-1024x473.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px; 

    transition: 0.3s ease-in-out;
}

.servicio .contenedor__img:hover {
    transform: rotate(-1.8deg) scale(1.05);
}

#nosotros {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#nosotros .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#nosotros .contenedor .contenedor__img  img{
    width: 500px;
}

#nosotros .contenedor .contenedor__texto {
    padding: 25px;
    text-align: center;
    width: 50%;
}

.section__form {
    background-image: url("/images/fondoHero.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.contenedor__formulario {
    width: 60%;
    margin: 10px auto;
    background-color: #fbfafa91;
    padding: 8px;
    border-radius: 2px;

}

.formulario__titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

footer {
    background-color: #189AB4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

footer p {
    margin: 0;
    padding: 12px;
    font-family: sans-serif;
    color: #ffffff;
}


    

