$color-principal: #11698E;
$color-texto:  #F8F1F1;             //COLORES PARA LA PAGINA
$color-acento: #16C79A;
$color-fondo: #19456B;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;       //FUENTE
}

