$color-principal: #11698E;
$color-fondo:  #19456B;
$color-acento: #16C79A;
$color-texto: #F8F1F1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

