.formulario{
    height: 80vh;
    margin-top: 20vh;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    .formulario__iconos {
        height: 30vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .row {
            width: 100%;
            i {
                font-size: 4em;
                color: $color-acento;
            }
            h4 {
                font-weight: 400;
                color: $color-fondo;
                margin: 10px 0 0 0
            }
        }
    }
    .formulario__campos {
        height: 40vh;
        .form-label {
            color: $color-fondo;
            font-weight: 500;
        }
        .form-control {
            border: 2px solid #ced4da;
        }
        .formulario__enviar {
            display: flex;
            justify-content: flex-end;
            .btn {
                color: $color-fondo;
                background-color: rgba(0, 0, 0, 0);
                border-color: $color-acento;
                font-weight: 300;
                border-width: 2px;
                padding: 10px 30px;
                border-radius: 30px;
                margin-top: 8px;
            }
            .btn:hover {
                color: $color-texto;
                background-color: $color-acento;
                border-color: $color-acento;
                }
        }
    }
}
