#hero {
    height: 90vh;
    margin-top: 10vh;
    background: url(../images/fondoHero.jpg) center center;
    background-size: cover;
    position: relative;
    .container-lg {
        text-align: center;
    }
    h1 {
        font-size: 48px;
        line-height: 56px;
        color: $color-texto;
    }
    h4 {
        color: $color-texto;
        margin: 20px 0;
    }
}

.centrarText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ctaBoton{
    background-color: $color-principal;
    border-color: $color-principal;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 5px;
}

#ctaBoton:hover{
    background-color: $color-acento;
    border-color: $color-acento;
}