/* encabezado */

header {
    background-color: $color-texto;
}


.barra{
    flex-direction: row;
    max-width: 1400px;
}

.logo {
    img {
        width: 300px;
        transition: transform 0.4s;
    }
    img:hover {
        transform: scale(1.2);
    }
}




.nav {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 0;
    a {
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        margin: 0 5px;
        color: $color-fondo;
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px;
        border-radius: 3px;
    }
    a:hover {
        color: $color-fondo;
        background-color: $color-acento;
    }
    
    a:active {
        background-color: $color-principal;
    }
    
    .abrirMenu, .cerrarMenu {
        display: none;
    }
}








/* fin encabezado */