#nosotros {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 25px;
    .container-lg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .nosotros__texto {
        padding: 25px 15px;
        text-align: center;
        width: 60%;
    }
    .nosotros__img {
        width: 60%;
        text-align: center;
        img {
            width: 90%;
        }
    }
}

#team {
    padding: 60px 0;
    .container-lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .team__title {
            padding: 10px;
            font-size: 30px;
            color: $color-fondo;
        }
        .team__member {
            padding: 24px 12px;
            text-align: center;
            img {
                width: 100%;
                border-radius: 2px;
            }
            .team__member--info {
                padding: 10px 0;
                h4 {
                    color: $color-principal;
                }
                p {
                    margin: 0;
                    color: $color-acento;
                }
            }
        }
    }
}
