#nosotros {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#nosotros .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#nosotros .contenedor .contenedor__img  img{
    width: 500px;
}

#nosotros .contenedor .contenedor__texto {
    padding: 25px;
    text-align: center;
    width: 50%;
}